
    .change-password-form-container{
        width:50%;
        height:auto;
        float:left;
        margin:50px 30%;
        border:1px solid black;
        border-radius:15px;
        background-color:lightgray;
    }
    
    .change-password-form{
        width:90%;
        height:auto;
        margin:0 5%;

    }
    
    .change-password-form .row{
        width:100%;
        height:auto;
        margin:5px 0;
        float:left;
    }
    
    .change-password-form .row .col1{
        width:180px;
        height:auto;
        margin:0;
        font-family: 'Heebo', sans-serif;
        margin:5px;
        float:left;
    }
    
    .change-password-form .row .col2{
        width:60%;
        height:auto;
        margin:5px;
        float:left;
    }
    
    .change-password-form .row .col2 .input-email{
        width:100%;
        height:auto;
        margin:0;
        padding:5px;
        box-sizing:border-box;
        
    }
    
    .change-password-form .button-row{
        width:100%;
        height:auto;
        margin:20px 0 0 0;
        text-align:center;
        float:left;
    }
    
     .change-password-form .status-row{
        width:100%;
        height:auto;
        margin:0;

     }
   
    @media only screen and (max-width:1150px){
        .change-password-form-container{
            width:80%;
            height:auto;
            margin:50px 10%;
 
        }
    }
   
    @media only screen and (max-width:800px){
        .change-password-form .row .col2{
            width:90%;
            height:auto;
            margin:5px;
            float:none;
        }
    }


