
    .lost-password-container{
        width:40%;
        height:auto;
        margin:50px 30%;
        padding:20px 0;
        border:1px solid black;
        border-radius:15px;
        background-color:lightgray;
    }
    

    
    .lost-password-container .lost-password{
        width:90%;
        height:auto;
        margin:20px 5%;
    }
    
    .lost-password-container .lost-password .row{
        width:100%;
        height:auto;
        margin:0;
    }
    
    .lost-password .col1{
        width:120px;
        height:auto;
        display:inline-block;
        margin:10px;
      font-family: 'Heebo', sans-serif;  

    }
    
    .lost-password .col2{
        width:60%;
        height:auto;
        margin:10px;
        display:inline-block;
    }
    
    .lost-password .col2 .text-input{
        width:100%;
        height:auto;
        padding:5px;
    }
    
    .lost-password .button-row{
        width:100%;
        height:auto;
        margin:20px 0;
        text-align:center;
    }
    
    
    @media only screen and (max-width:1200px){
        
        .lost-password-container{
            width:80%;
            height:auto;
            margin:50px 10%;
   
        }
    }
    
    @media only screen and (max-width:600px){
        
        .lost-password .col2{
            width:90%;
            height:auto;
            margin:10px;
            display:block;
        }
    }
    
    
    